USE [BD_CHUNGCU]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [int] NOT NULL,
	[hanh_dong] [varchar](50) NOT NULL,
	[bang] [varchar](50) NOT NULL,
	[ban_ghi_id] [int] NULL,
	[mo_ta] [nvarchar](max) NULL,
	[thoi_gian] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bang_luong]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bang_luong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [int] NOT NULL,
	[thang_nam] [date] NOT NULL,
	[luong_co_ban] [decimal](15, 2) NOT NULL,
	[thuong] [decimal](15, 2) NOT NULL,
	[khau_tru] [decimal](15, 2) NOT NULL,
	[tong_luong]  AS (([luong_co_ban]+[thuong])-[khau_tru]),
	[trang_thai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bao_tri]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bao_tri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[can_ho_id] [int] NULL,
	[mo_ta] [nvarchar](max) NOT NULL,
	[ngay_yeu_cau] [datetime2](7) NOT NULL,
	[ngay_hoan_thanh] [date] NULL,
	[chi_phi] [decimal](15, 2) NULL,
	[trang_thai] [varchar](20) NOT NULL,
	[nhan_vien_xu_ly_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[can_ho]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[can_ho](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[toa_nha_id] [int] NOT NULL,
	[so_can_ho] [varchar](20) NOT NULL,
	[tang] [int] NULL,
	[dien_tich] [decimal](10, 2) NULL,
	[trang_thai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cong_no]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cong_no](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[can_ho_id] [int] NOT NULL,
	[hoa_don_id] [int] NULL,
	[so_tien_no] [decimal](15, 2) NOT NULL,
	[han_thanh_toan] [date] NULL,
	[trang_thai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cu_dan]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cu_dan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[can_ho_id] [int] NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[so_dien_thoai] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[cmnd_cccd] [varchar](20) NULL,
	[ngay_sinh] [date] NULL,
	[loai_cu_dan] [varchar](20) NOT NULL,
	[ngay_vao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cham_cong]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cham_cong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [int] NOT NULL,
	[ngay] [date] NOT NULL,
	[gio_vao] [time](7) NULL,
	[gio_ra] [time](7) NULL,
	[trang_thai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_so_dien_nuoc]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_so_dien_nuoc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[can_ho_id] [int] NOT NULL,
	[thang_nam] [date] NOT NULL,
	[chi_so_dien_cu] [decimal](10, 2) NULL,
	[chi_so_dien_moi] [decimal](10, 2) NULL,
	[chi_so_nuoc_cu] [decimal](10, 2) NULL,
	[chi_so_nuoc_moi] [decimal](10, 2) NULL,
	[ngay_ghi] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dang_ky_dich_vu]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dang_ky_dich_vu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[can_ho_id] [int] NOT NULL,
	[dich_vu_id] [int] NOT NULL,
	[ngay_dang_ky] [date] NOT NULL,
	[ngay_huy] [date] NULL,
	[trang_thai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danh_gia]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danh_gia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cu_dan_id] [int] NOT NULL,
	[noi_dung] [nvarchar](max) NULL,
	[diem] [int] NOT NULL,
	[ngay_gui] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dat_lich_tien_ich]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dat_lich_tien_ich](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tien_ich_id] [int] NOT NULL,
	[cu_dan_id] [int] NOT NULL,
	[thoi_gian_bat_dau] [datetime2](7) NOT NULL,
	[thoi_gian_ket_thuc] [datetime2](7) NOT NULL,
	[trang_thai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dich_vu]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dich_vu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_dich_vu] [nvarchar](100) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[don_gia] [decimal](12, 2) NOT NULL,
	[don_vi] [nvarchar](50) NULL,
	[trang_thai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[can_ho_id] [int] NOT NULL,
	[thang_nam] [date] NOT NULL,
	[tien_dien] [decimal](15, 2) NOT NULL,
	[tien_nuoc] [decimal](15, 2) NOT NULL,
	[tien_gui_xe] [decimal](15, 2) NOT NULL,
	[tien_bao_tri] [decimal](15, 2) NOT NULL,
	[tien_phi_khac] [decimal](15, 2) NOT NULL,
	[tong_tien] [decimal](15, 2) NOT NULL,
	[trang_thai] [varchar](20) NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don_chi_tiet]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don_chi_tiet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hoa_don_id] [int] NOT NULL,
	[loai] [varchar](50) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
	[so_luong] [decimal](12, 2) NOT NULL,
	[don_gia] [decimal](12, 2) NOT NULL,
	[thanh_tien]  AS ([so_luong]*[don_gia]),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hop_dong]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hop_dong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[can_ho_id] [int] NOT NULL,
	[cu_dan_id] [int] NOT NULL,
	[loai_hop_dong] [varchar](20) NOT NULL,
	[ngay_bat_dau] [date] NOT NULL,
	[ngay_ket_thuc] [date] NULL,
	[gia_tri_hop_dong] [decimal](15, 2) NULL,
	[tien_dat_coc] [decimal](15, 2) NOT NULL,
	[trang_thai] [varchar](20) NOT NULL,
	[file_hop_dong] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khieu_nai]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khieu_nai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cu_dan_id] [int] NOT NULL,
	[mo_ta] [nvarchar](max) NOT NULL,
	[ngay_gui] [datetime2](7) NOT NULL,
	[trang_thai] [varchar](20) NOT NULL,
	[phan_hoi] [nvarchar](max) NULL,
	[nhan_vien_xu_ly_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_dang_nhap] [varchar](50) NOT NULL,
	[mat_khau] [varchar](255) NOT NULL,
	[ho_ten] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[so_dien_thoai] [varchar](20) NULL,
	[vai_tro_id] [int] NOT NULL,
	[trang_thai] [varchar](10) NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phuong_tien]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phuong_tien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cu_dan_id] [int] NOT NULL,
	[bien_so] [varchar](20) NOT NULL,
	[loai_xe] [varchar](20) NOT NULL,
	[phi_gui_thang] [decimal](10, 2) NOT NULL,
	[trang_thai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quyen]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quyen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_quyen] [varchar](100) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tai_lieu]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tai_lieu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_file] [nvarchar](255) NULL,
	[duong_dan] [nvarchar](255) NULL,
	[loai] [varchar](50) NULL,
	[cu_dan_id] [int] NULL,
	[can_ho_id] [int] NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tam_tru]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tam_tru](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cu_dan_id] [int] NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[cmnd_cccd] [varchar](20) NULL,
	[ngay_bat_dau] [date] NOT NULL,
	[ngay_ket_thuc] [date] NULL,
	[trang_thai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tien_ich_chung]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tien_ich_chung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_tien_ich] [nvarchar](100) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[suc_chua] [int] NULL,
	[trang_thai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[toa_nha]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[toa_nha](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_toa] [nvarchar](50) NOT NULL,
	[so_tang] [int] NULL,
	[so_can_ho] [int] NULL,
	[dia_chi] [nvarchar](max) NULL,
	[ngay_xay_dung] [date] NULL,
	[trang_thai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanh_toan]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanh_toan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hoa_don_id] [int] NOT NULL,
	[so_tien] [decimal](15, 2) NOT NULL,
	[ngay_thanh_toan] [datetime2](7) NOT NULL,
	[nhan_vien_thu_id] [int] NOT NULL,
	[ma_phieu_thu] [varchar](50) NOT NULL,
	[phuong_thuc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thong_bao]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thong_bao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tieu_de] [nvarchar](200) NOT NULL,
	[noi_dung] [nvarchar](max) NOT NULL,
	[ngay_gui] [datetime2](7) NOT NULL,
	[nguoi_gui_id] [int] NOT NULL,
	[loai] [varchar](30) NOT NULL,
	[gui_tat_ca] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thong_bao_cu_dan]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thong_bao_cu_dan](
	[thong_bao_id] [int] NOT NULL,
	[cu_dan_id] [int] NOT NULL,
	[da_doc] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[thong_bao_id] ASC,
	[cu_dan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vai_tro]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vai_tro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_vai_tro] [varchar](50) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vai_tro_quyen]    Script Date: 5/19/2026 3:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vai_tro_quyen](
	[vai_tro_id] [int] NOT NULL,
	[quyen_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[vai_tro_id] ASC,
	[quyen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[audit_log] ON 

INSERT [dbo].[audit_log] ([id], [nguoi_dung_id], [hanh_dong], [bang], [ban_ghi_id], [mo_ta], [thoi_gian]) VALUES (1, 1, N'INSERT', N'toa_nha', 1, N'Thêm tòa nhà Tòa A', CAST(N'2024-01-01T08:05:00.0000000' AS DateTime2))
INSERT [dbo].[audit_log] ([id], [nguoi_dung_id], [hanh_dong], [bang], [ban_ghi_id], [mo_ta], [thoi_gian]) VALUES (2, 1, N'INSERT', N'toa_nha', 2, N'Thêm tòa nhà Tòa B', CAST(N'2024-01-01T08:06:00.0000000' AS DateTime2))
INSERT [dbo].[audit_log] ([id], [nguoi_dung_id], [hanh_dong], [bang], [ban_ghi_id], [mo_ta], [thoi_gian]) VALUES (3, 1, N'INSERT', N'vai_tro', 1, N'Thêm vai trò quản trị', CAST(N'2024-01-01T08:10:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[audit_log] OFF
GO
SET IDENTITY_INSERT [dbo].[bang_luong] ON 

INSERT [dbo].[bang_luong] ([id], [nguoi_dung_id], [thang_nam], [luong_co_ban], [thuong], [khau_tru], [trang_thai]) VALUES (1, 2, CAST(N'2026-04-01' AS Date), CAST(15000000.00 AS Decimal(15, 2)), CAST(2000000.00 AS Decimal(15, 2)), CAST(1500000.00 AS Decimal(15, 2)), N'da_thanh_toan')
INSERT [dbo].[bang_luong] ([id], [nguoi_dung_id], [thang_nam], [luong_co_ban], [thuong], [khau_tru], [trang_thai]) VALUES (2, 3, CAST(N'2026-04-01' AS Date), CAST(8000000.00 AS Decimal(15, 2)), CAST(1000000.00 AS Decimal(15, 2)), CAST(800000.00 AS Decimal(15, 2)), N'da_thanh_toan')
INSERT [dbo].[bang_luong] ([id], [nguoi_dung_id], [thang_nam], [luong_co_ban], [thuong], [khau_tru], [trang_thai]) VALUES (3, 4, CAST(N'2026-04-01' AS Date), CAST(8000000.00 AS Decimal(15, 2)), CAST(500000.00 AS Decimal(15, 2)), CAST(800000.00 AS Decimal(15, 2)), N'da_thanh_toan')
SET IDENTITY_INSERT [dbo].[bang_luong] OFF
GO
SET IDENTITY_INSERT [dbo].[bao_tri] ON 

INSERT [dbo].[bao_tri] ([id], [can_ho_id], [mo_ta], [ngay_yeu_cau], [ngay_hoan_thanh], [chi_phi], [trang_thai], [nhan_vien_xu_ly_id]) VALUES (1, 1, N'Rò rỉ đường ống nước phòng bếp', CAST(N'2026-04-01T08:00:00.0000000' AS DateTime2), CAST(N'2026-04-02' AS Date), CAST(500000.00 AS Decimal(15, 2)), N'hoan_thanh', 3)
INSERT [dbo].[bao_tri] ([id], [can_ho_id], [mo_ta], [ngay_yeu_cau], [ngay_hoan_thanh], [chi_phi], [trang_thai], [nhan_vien_xu_ly_id]) VALUES (2, 4, N'Hỏng bóng đèn hành lang', CAST(N'2026-04-05T10:00:00.0000000' AS DateTime2), CAST(N'2026-04-05' AS Date), CAST(150000.00 AS Decimal(15, 2)), N'hoan_thanh', 3)
INSERT [dbo].[bao_tri] ([id], [can_ho_id], [mo_ta], [ngay_yeu_cau], [ngay_hoan_thanh], [chi_phi], [trang_thai], [nhan_vien_xu_ly_id]) VALUES (3, 6, N'Điều hòa không lạnh', CAST(N'2026-04-10T14:00:00.0000000' AS DateTime2), CAST(N'2026-04-12' AS Date), CAST(2500000.00 AS Decimal(15, 2)), N'hoan_thanh', 6)
SET IDENTITY_INSERT [dbo].[bao_tri] OFF
GO
SET IDENTITY_INSERT [dbo].[can_ho] ON 

INSERT [dbo].[can_ho] ([id], [toa_nha_id], [so_can_ho], [tang], [dien_tich], [trang_thai]) VALUES (1, 1, N'A-101', 1, CAST(65.50 AS Decimal(10, 2)), N'da_o')
INSERT [dbo].[can_ho] ([id], [toa_nha_id], [so_can_ho], [tang], [dien_tich], [trang_thai]) VALUES (2, 1, N'A-102', 1, CAST(70.00 AS Decimal(10, 2)), N'da_o')
INSERT [dbo].[can_ho] ([id], [toa_nha_id], [so_can_ho], [tang], [dien_tich], [trang_thai]) VALUES (3, 1, N'A-103', 1, CAST(55.00 AS Decimal(10, 2)), N'trong')
SET IDENTITY_INSERT [dbo].[can_ho] OFF
GO
SET IDENTITY_INSERT [dbo].[cong_no] ON 

INSERT [dbo].[cong_no] ([id], [can_ho_id], [hoa_don_id], [so_tien_no], [han_thanh_toan], [trang_thai]) VALUES (1, 1, 1, CAST(2199601.00 AS Decimal(15, 2)), CAST(N'2026-04-30' AS Date), N'da_tra')
INSERT [dbo].[cong_no] ([id], [can_ho_id], [hoa_don_id], [so_tien_no], [han_thanh_toan], [trang_thai]) VALUES (2, 5, 4, CAST(1049000.00 AS Decimal(15, 2)), CAST(N'2026-04-30' AS Date), N'qua_han')
INSERT [dbo].[cong_no] ([id], [can_ho_id], [hoa_don_id], [so_tien_no], [han_thanh_toan], [trang_thai]) VALUES (3, 7, 6, CAST(1318000.00 AS Decimal(15, 2)), CAST(N'2026-04-30' AS Date), N'qua_han')
SET IDENTITY_INSERT [dbo].[cong_no] OFF
GO
SET IDENTITY_INSERT [dbo].[cu_dan] ON 

INSERT [dbo].[cu_dan] ([id], [can_ho_id], [ho_ten], [so_dien_thoai], [email], [cmnd_cccd], [ngay_sinh], [loai_cu_dan], [ngay_vao]) VALUES (1, 1, N'Nguyễn Văn An', N'0912000001', N'an.nguyen@gmail.com', N'079201001234', CAST(N'1985-03-15' AS Date), N'chu_ho', CAST(N'2022-01-15' AS Date))
INSERT [dbo].[cu_dan] ([id], [can_ho_id], [ho_ten], [so_dien_thoai], [email], [cmnd_cccd], [ngay_sinh], [loai_cu_dan], [ngay_vao]) VALUES (2, 1, N'Nguyễn Thị Bình', N'0912000002', NULL, N'079201001235', CAST(N'1988-07-20' AS Date), N'thanh_vien', CAST(N'2022-01-15' AS Date))
INSERT [dbo].[cu_dan] ([id], [can_ho_id], [ho_ten], [so_dien_thoai], [email], [cmnd_cccd], [ngay_sinh], [loai_cu_dan], [ngay_vao]) VALUES (3, 2, N'Trần Minh Cường', N'0912000003', N'cuong.tran@gmail.com', N'079201002345', CAST(N'1979-11-05' AS Date), N'chu_ho', CAST(N'2021-08-01' AS Date))
SET IDENTITY_INSERT [dbo].[cu_dan] OFF
GO
SET IDENTITY_INSERT [dbo].[cham_cong] ON 

INSERT [dbo].[cham_cong] ([id], [nguoi_dung_id], [ngay], [gio_vao], [gio_ra], [trang_thai]) VALUES (1, 3, CAST(N'2026-05-01' AS Date), CAST(N'07:58:00' AS Time), CAST(N'17:05:00' AS Time), N'di_lam')
INSERT [dbo].[cham_cong] ([id], [nguoi_dung_id], [ngay], [gio_vao], [gio_ra], [trang_thai]) VALUES (2, 3, CAST(N'2026-05-02' AS Date), CAST(N'08:15:00' AS Time), CAST(N'17:10:00' AS Time), N'di_tre')
INSERT [dbo].[cham_cong] ([id], [nguoi_dung_id], [ngay], [gio_vao], [gio_ra], [trang_thai]) VALUES (3, 3, CAST(N'2026-05-05' AS Date), CAST(N'07:55:00' AS Time), CAST(N'17:00:00' AS Time), N'di_lam')
SET IDENTITY_INSERT [dbo].[cham_cong] OFF
GO
SET IDENTITY_INSERT [dbo].[chi_so_dien_nuoc] ON 

INSERT [dbo].[chi_so_dien_nuoc] ([id], [can_ho_id], [thang_nam], [chi_so_dien_cu], [chi_so_dien_moi], [chi_so_nuoc_cu], [chi_so_nuoc_moi], [ngay_ghi]) VALUES (1, 1, CAST(N'2026-04-01' AS Date), CAST(1520.00 AS Decimal(10, 2)), CAST(1648.00 AS Decimal(10, 2)), CAST(320.00 AS Decimal(10, 2)), CAST(341.00 AS Decimal(10, 2)), CAST(N'2026-04-05' AS Date))
INSERT [dbo].[chi_so_dien_nuoc] ([id], [can_ho_id], [thang_nam], [chi_so_dien_cu], [chi_so_dien_moi], [chi_so_nuoc_cu], [chi_so_nuoc_moi], [ngay_ghi]) VALUES (2, 2, CAST(N'2026-04-01' AS Date), CAST(2100.00 AS Decimal(10, 2)), CAST(2245.00 AS Decimal(10, 2)), CAST(410.00 AS Decimal(10, 2)), CAST(435.00 AS Decimal(10, 2)), CAST(N'2026-04-05' AS Date))
INSERT [dbo].[chi_so_dien_nuoc] ([id], [can_ho_id], [thang_nam], [chi_so_dien_cu], [chi_so_dien_moi], [chi_so_nuoc_cu], [chi_so_nuoc_moi], [ngay_ghi]) VALUES (3, 4, CAST(N'2026-04-01' AS Date), CAST(3200.00 AS Decimal(10, 2)), CAST(3380.00 AS Decimal(10, 2)), CAST(520.00 AS Decimal(10, 2)), CAST(548.00 AS Decimal(10, 2)), CAST(N'2026-04-05' AS Date))
SET IDENTITY_INSERT [dbo].[chi_so_dien_nuoc] OFF
GO
SET IDENTITY_INSERT [dbo].[dang_ky_dich_vu] ON 

INSERT [dbo].[dang_ky_dich_vu] ([id], [can_ho_id], [dich_vu_id], [ngay_dang_ky], [ngay_huy], [trang_thai]) VALUES (1, 1, 5, CAST(N'2022-02-01' AS Date), NULL, N'dang_su_dung')
INSERT [dbo].[dang_ky_dich_vu] ([id], [can_ho_id], [dich_vu_id], [ngay_dang_ky], [ngay_huy], [trang_thai]) VALUES (2, 1, 6, CAST(N'2022-02-01' AS Date), NULL, N'dang_su_dung')
INSERT [dbo].[dang_ky_dich_vu] ([id], [can_ho_id], [dich_vu_id], [ngay_dang_ky], [ngay_huy], [trang_thai]) VALUES (3, 2, 5, CAST(N'2021-09-01' AS Date), NULL, N'dang_su_dung')
SET IDENTITY_INSERT [dbo].[dang_ky_dich_vu] OFF
GO
SET IDENTITY_INSERT [dbo].[danh_gia] ON 

INSERT [dbo].[danh_gia] ([id], [cu_dan_id], [noi_dung], [diem], [ngay_gui]) VALUES (1, 1, N'Ban quản lý nhiệt tình, phản hồi nhanh chóng.', 5, CAST(N'2026-04-01T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[danh_gia] ([id], [cu_dan_id], [noi_dung], [diem], [ngay_gui]) VALUES (2, 3, N'Dịch vụ tốt, môi trường sống thoải mái.', 4, CAST(N'2026-04-02T14:00:00.0000000' AS DateTime2))
INSERT [dbo].[danh_gia] ([id], [cu_dan_id], [noi_dung], [diem], [ngay_gui]) VALUES (3, 5, N'Khá hài lòng nhưng thang máy hay hỏng.', 3, CAST(N'2026-04-05T09:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[danh_gia] OFF
GO
SET IDENTITY_INSERT [dbo].[dat_lich_tien_ich] ON 

INSERT [dbo].[dat_lich_tien_ich] ([id], [tien_ich_id], [cu_dan_id], [thoi_gian_bat_dau], [thoi_gian_ket_thuc], [trang_thai]) VALUES (1, 1, 1, CAST(N'2026-05-10T08:00:00.0000000' AS DateTime2), CAST(N'2026-05-10T09:00:00.0000000' AS DateTime2), N'da_dat')
INSERT [dbo].[dat_lich_tien_ich] ([id], [tien_ich_id], [cu_dan_id], [thoi_gian_bat_dau], [thoi_gian_ket_thuc], [trang_thai]) VALUES (2, 2, 3, CAST(N'2026-05-10T07:00:00.0000000' AS DateTime2), CAST(N'2026-05-10T08:00:00.0000000' AS DateTime2), N'da_dat')
INSERT [dbo].[dat_lich_tien_ich] ([id], [tien_ich_id], [cu_dan_id], [thoi_gian_bat_dau], [thoi_gian_ket_thuc], [trang_thai]) VALUES (3, 1, 5, CAST(N'2026-05-11T15:00:00.0000000' AS DateTime2), CAST(N'2026-05-11T16:00:00.0000000' AS DateTime2), N'da_dat')
SET IDENTITY_INSERT [dbo].[dat_lich_tien_ich] OFF
GO
SET IDENTITY_INSERT [dbo].[dich_vu] ON 

INSERT [dbo].[dich_vu] ([id], [ten_dich_vu], [mo_ta], [don_gia], [don_vi], [trang_thai]) VALUES (1, N'Dọn vệ sinh căn hộ', N'Dịch vụ vệ sinh căn hộ theo yêu cầu', CAST(250000.00 AS Decimal(12, 2)), N'lần', N'hoat_dong')
INSERT [dbo].[dich_vu] ([id], [ten_dich_vu], [mo_ta], [don_gia], [don_vi], [trang_thai]) VALUES (2, N'Giặt ủi quần áo', N'Dịch vụ giặt ủi tại chỗ', CAST(150000.00 AS Decimal(12, 2)), N'kg', N'hoat_dong')
INSERT [dbo].[dich_vu] ([id], [ten_dich_vu], [mo_ta], [don_gia], [don_vi], [trang_thai]) VALUES (3, N'Trông giữ trẻ', N'Dịch vụ trông giữ trẻ trong ngày', CAST(200000.00 AS Decimal(12, 2)), N'ngày', N'hoat_dong')
SET IDENTITY_INSERT [dbo].[dich_vu] OFF
GO
SET IDENTITY_INSERT [dbo].[hoa_don] ON 

INSERT [dbo].[hoa_don] ([id], [can_ho_id], [thang_nam], [tien_dien], [tien_nuoc], [tien_gui_xe], [tien_bao_tri], [tien_phi_khac], [tong_tien], [trang_thai], [ngay_tao]) VALUES (1, 1, CAST(N'2026-04-01' AS Date), CAST(897600.00 AS Decimal(15, 2)), CAST(252000.00 AS Decimal(15, 2)), CAST(1000000.00 AS Decimal(15, 2)), CAST(50000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(2199600.00 AS Decimal(15, 2)), N'chua_thanh_toan', CAST(N'2026-04-10T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[hoa_don] ([id], [can_ho_id], [thang_nam], [tien_dien], [tien_nuoc], [tien_gui_xe], [tien_bao_tri], [tien_phi_khac], [tong_tien], [trang_thai], [ngay_tao]) VALUES (2, 2, CAST(N'2026-04-01' AS Date), CAST(1015500.00 AS Decimal(15, 2)), CAST(300000.00 AS Decimal(15, 2)), CAST(200000.00 AS Decimal(15, 2)), CAST(50000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(1565500.00 AS Decimal(15, 2)), N'da_thanh_toan', CAST(N'2026-04-10T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[hoa_don] ([id], [can_ho_id], [thang_nam], [tien_dien], [tien_nuoc], [tien_gui_xe], [tien_bao_tri], [tien_phi_khac], [tong_tien], [trang_thai], [ngay_tao]) VALUES (3, 4, CAST(N'2026-04-01' AS Date), CAST(1260000.00 AS Decimal(15, 2)), CAST(336000.00 AS Decimal(15, 2)), CAST(800000.00 AS Decimal(15, 2)), CAST(50000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(2446000.00 AS Decimal(15, 2)), N'da_thanh_toan', CAST(N'2026-04-10T08:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[hoa_don_chi_tiet] ON 

INSERT [dbo].[hoa_don_chi_tiet] ([id], [hoa_don_id], [loai], [mo_ta], [so_luong], [don_gia]) VALUES (1, 1, N'dien', N'Điện 128 kWh x 7.000đ', CAST(128.00 AS Decimal(12, 2)), CAST(7000.00 AS Decimal(12, 2)))
INSERT [dbo].[hoa_don_chi_tiet] ([id], [hoa_don_id], [loai], [mo_ta], [so_luong], [don_gia]) VALUES (2, 1, N'nuoc', N'Nước 21 m³ x 12.000đ', CAST(21.00 AS Decimal(12, 2)), CAST(12000.00 AS Decimal(12, 2)))
INSERT [dbo].[hoa_don_chi_tiet] ([id], [hoa_don_id], [loai], [mo_ta], [so_luong], [don_gia]) VALUES (3, 1, N'gui_xe', N'Gửi xe máy + ô tô', CAST(1.00 AS Decimal(12, 2)), CAST(1000000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[hoa_don_chi_tiet] OFF
GO
SET IDENTITY_INSERT [dbo].[hop_dong] ON 

INSERT [dbo].[hop_dong] ([id], [can_ho_id], [cu_dan_id], [loai_hop_dong], [ngay_bat_dau], [ngay_ket_thuc], [gia_tri_hop_dong], [tien_dat_coc], [trang_thai], [file_hop_dong]) VALUES (1, 1, 1, N'so_huu', CAST(N'2022-01-15' AS Date), NULL, CAST(3500000000.00 AS Decimal(15, 2)), CAST(350000000.00 AS Decimal(15, 2)), N'dang_hieu_luc', N'hop_dong_A101.pdf')
INSERT [dbo].[hop_dong] ([id], [can_ho_id], [cu_dan_id], [loai_hop_dong], [ngay_bat_dau], [ngay_ket_thuc], [gia_tri_hop_dong], [tien_dat_coc], [trang_thai], [file_hop_dong]) VALUES (2, 2, 3, N'so_huu', CAST(N'2021-08-01' AS Date), NULL, CAST(3800000000.00 AS Decimal(15, 2)), CAST(380000000.00 AS Decimal(15, 2)), N'dang_hieu_luc', N'hop_dong_A102.pdf')
INSERT [dbo].[hop_dong] ([id], [can_ho_id], [cu_dan_id], [loai_hop_dong], [ngay_bat_dau], [ngay_ket_thuc], [gia_tri_hop_dong], [tien_dat_coc], [trang_thai], [file_hop_dong]) VALUES (3, 4, 5, N'so_huu', CAST(N'2023-03-10' AS Date), NULL, CAST(4500000000.00 AS Decimal(15, 2)), CAST(450000000.00 AS Decimal(15, 2)), N'dang_hieu_luc', N'hop_dong_A201.pdf')
SET IDENTITY_INSERT [dbo].[hop_dong] OFF
GO
SET IDENTITY_INSERT [dbo].[khieu_nai] ON 

INSERT [dbo].[khieu_nai] ([id], [cu_dan_id], [mo_ta], [ngay_gui], [trang_thai], [phan_hoi], [nhan_vien_xu_ly_id]) VALUES (1, 1, N'Tiếng ồn từ căn hộ tầng trên rất to vào ban đêm', CAST(N'2026-04-05T20:00:00.0000000' AS DateTime2), N'da_xu_ly', N'Đã nhắc nhở cư dân tầng trên.', 2)
INSERT [dbo].[khieu_nai] ([id], [cu_dan_id], [mo_ta], [ngay_gui], [trang_thai], [phan_hoi], [nhan_vien_xu_ly_id]) VALUES (2, 3, N'Hành lang tầng 1 bẩn, rác không được dọn thường xuyên', CAST(N'2026-04-10T09:00:00.0000000' AS DateTime2), N'da_xu_ly', N'Đã sắp xếp lại lịch vệ sinh.', 2)
INSERT [dbo].[khieu_nai] ([id], [cu_dan_id], [mo_ta], [ngay_gui], [trang_thai], [phan_hoi], [nhan_vien_xu_ly_id]) VALUES (3, 7, N'Thang máy số 2 tòa A hay bị hỏng', CAST(N'2026-04-18T14:00:00.0000000' AS DateTime2), N'dang_xu_ly', NULL, 2)
SET IDENTITY_INSERT [dbo].[khieu_nai] OFF
GO
SET IDENTITY_INSERT [dbo].[nguoi_dung] ON 

INSERT [dbo].[nguoi_dung] ([id], [ten_dang_nhap], [mat_khau], [ho_ten], [email], [so_dien_thoai], [vai_tro_id], [trang_thai], [ngay_tao]) VALUES (1, N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'Nguyễn Quản Trị', N'admin@chungcu.vn', N'0901111001', 1, N'active', CAST(N'2024-01-01T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[nguoi_dung] ([id], [ten_dang_nhap], [mat_khau], [ho_ten], [email], [so_dien_thoai], [vai_tro_id], [trang_thai], [ngay_tao]) VALUES (2, N'quanly01', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'Trần Thị Quản Lý', N'quanly@chungcu.vn', N'0901111002', 2, N'active', CAST(N'2024-01-05T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[nguoi_dung] ([id], [ten_dang_nhap], [mat_khau], [ho_ten], [email], [so_dien_thoai], [vai_tro_id], [trang_thai], [ngay_tao]) VALUES (3, N'nhanvien01', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'Lê Văn Nhân Viên', N'nv01@chungcu.vn', N'0901111003', 3, N'active', CAST(N'2024-01-10T08:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[nguoi_dung] OFF
GO
SET IDENTITY_INSERT [dbo].[phuong_tien] ON 

INSERT [dbo].[phuong_tien] ([id], [cu_dan_id], [bien_so], [loai_xe], [phi_gui_thang], [trang_thai]) VALUES (1, 1, N'51A-12345', N'xe_may', CAST(200000.00 AS Decimal(10, 2)), N'dang_gui')
INSERT [dbo].[phuong_tien] ([id], [cu_dan_id], [bien_so], [loai_xe], [phi_gui_thang], [trang_thai]) VALUES (2, 1, N'51H-56789', N'o_to', CAST(800000.00 AS Decimal(10, 2)), N'dang_gui')
INSERT [dbo].[phuong_tien] ([id], [cu_dan_id], [bien_so], [loai_xe], [phi_gui_thang], [trang_thai]) VALUES (3, 3, N'51B-23456', N'xe_may', CAST(200000.00 AS Decimal(10, 2)), N'dang_gui')
SET IDENTITY_INSERT [dbo].[phuong_tien] OFF
GO
SET IDENTITY_INSERT [dbo].[quyen] ON 

INSERT [dbo].[quyen] ([id], [ten_quyen], [mo_ta]) VALUES (1, N'quan_ly_cu_dan', N'Quản lý cư dân')
INSERT [dbo].[quyen] ([id], [ten_quyen], [mo_ta]) VALUES (2, N'quan_ly_can_ho', N'Quản lý căn hộ')
INSERT [dbo].[quyen] ([id], [ten_quyen], [mo_ta]) VALUES (3, N'quan_ly_hoa_don', N'Quản lý hóa đơn')
SET IDENTITY_INSERT [dbo].[quyen] OFF
GO
SET IDENTITY_INSERT [dbo].[tai_lieu] ON 

INSERT [dbo].[tai_lieu] ([id], [ten_file], [duong_dan], [loai], [cu_dan_id], [can_ho_id], [ngay_tao]) VALUES (1, N'CCCD_NguyenVanAn.pdf', N'/uploads/cccd/001.pdf', N'cccd', 1, 1, CAST(N'2022-01-10T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[tai_lieu] ([id], [ten_file], [duong_dan], [loai], [cu_dan_id], [can_ho_id], [ngay_tao]) VALUES (2, N'HopDong_A101.pdf', N'/uploads/contracts/001.pdf', N'hop_dong', 1, 1, CAST(N'2022-01-15T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[tai_lieu] ([id], [ten_file], [duong_dan], [loai], [cu_dan_id], [can_ho_id], [ngay_tao]) VALUES (3, N'CCCD_TranMinhCuong.pdf', N'/uploads/cccd/002.pdf', N'cccd', 3, 2, CAST(N'2021-07-25T08:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tai_lieu] OFF
GO
SET IDENTITY_INSERT [dbo].[tam_tru] ON 

INSERT [dbo].[tam_tru] ([id], [cu_dan_id], [ho_ten], [cmnd_cccd], [ngay_bat_dau], [ngay_ket_thuc], [trang_thai]) VALUES (1, 1, N'Nguyễn Văn Bình', N'079201099001', CAST(N'2026-04-10' AS Date), CAST(N'2026-04-20' AS Date), N'het_hieu_luc')
INSERT [dbo].[tam_tru] ([id], [cu_dan_id], [ho_ten], [cmnd_cccd], [ngay_bat_dau], [ngay_ket_thuc], [trang_thai]) VALUES (2, 3, N'Trần Thị Cúc', N'079201099002', CAST(N'2026-04-15' AS Date), CAST(N'2026-05-15' AS Date), N'dang_hieu_luc')
INSERT [dbo].[tam_tru] ([id], [cu_dan_id], [ho_ten], [cmnd_cccd], [ngay_bat_dau], [ngay_ket_thuc], [trang_thai]) VALUES (3, 7, N'Lê Văn Dũng', N'079201099003', CAST(N'2026-05-01' AS Date), CAST(N'2026-06-01' AS Date), N'dang_hieu_luc')
SET IDENTITY_INSERT [dbo].[tam_tru] OFF
GO
SET IDENTITY_INSERT [dbo].[tien_ich_chung] ON 

INSERT [dbo].[tien_ich_chung] ([id], [ten_tien_ich], [mo_ta], [suc_chua], [trang_thai]) VALUES (1, N'Hồ bơi', N'Hồ bơi ngoài trời tầng 5', 50, N'hoat_dong')
INSERT [dbo].[tien_ich_chung] ([id], [ten_tien_ich], [mo_ta], [suc_chua], [trang_thai]) VALUES (2, N'Phòng gym', N'Phòng tập thể dục trang bị đầy đủ', 30, N'hoat_dong')
INSERT [dbo].[tien_ich_chung] ([id], [ten_tien_ich], [mo_ta], [suc_chua], [trang_thai]) VALUES (3, N'Phòng sinh hoạt', N'Phòng sinh hoạt cộng đồng tầng 1', 100, N'hoat_dong')
SET IDENTITY_INSERT [dbo].[tien_ich_chung] OFF
GO
SET IDENTITY_INSERT [dbo].[toa_nha] ON 

INSERT [dbo].[toa_nha] ([id], [ten_toa], [so_tang], [so_can_ho], [dia_chi], [ngay_xay_dung], [trang_thai]) VALUES (1, N'Tòa A', 15, 60, N'123 Đường Lê Lợi, Phường Bến Nghé, Quận 1, TP.HCM', CAST(N'2018-06-01' AS Date), N'dang_hoat_dong')
INSERT [dbo].[toa_nha] ([id], [ten_toa], [so_tang], [so_can_ho], [dia_chi], [ngay_xay_dung], [trang_thai]) VALUES (2, N'Tòa B', 20, 80, N'123 Đường Lê Lợi, Phường Bến Nghé, Quận 1, TP.HCM', CAST(N'2019-03-15' AS Date), N'dang_hoat_dong')
INSERT [dbo].[toa_nha] ([id], [ten_toa], [so_tang], [so_can_ho], [dia_chi], [ngay_xay_dung], [trang_thai]) VALUES (3, N'Tòa C', 10, 40, N'123 Đường Lê Lợi, Phường Bến Nghé, Quận 1, TP.HCM', CAST(N'2020-09-20' AS Date), N'dang_sua_chua')
SET IDENTITY_INSERT [dbo].[toa_nha] OFF
GO
SET IDENTITY_INSERT [dbo].[thanh_toan] ON 

INSERT [dbo].[thanh_toan] ([id], [hoa_don_id], [so_tien], [ngay_thanh_toan], [nhan_vien_thu_id], [ma_phieu_thu], [phuong_thuc]) VALUES (1, 2, CAST(1565500.00 AS Decimal(15, 2)), CAST(N'2026-04-12T09:30:00.0000000' AS DateTime2), 5, N'PT2604001', N'chuyen_khoan')
INSERT [dbo].[thanh_toan] ([id], [hoa_don_id], [so_tien], [ngay_thanh_toan], [nhan_vien_thu_id], [ma_phieu_thu], [phuong_thuc]) VALUES (2, 3, CAST(2446000.00 AS Decimal(15, 2)), CAST(N'2026-04-13T10:15:00.0000000' AS DateTime2), 5, N'PT2604002', N'tien_mat')
INSERT [dbo].[thanh_toan] ([id], [hoa_don_id], [so_tien], [ngay_thanh_toan], [nhan_vien_thu_id], [ma_phieu_thu], [phuong_thuc]) VALUES (3, 5, CAST(2787000.00 AS Decimal(15, 2)), CAST(N'2026-04-14T14:00:00.0000000' AS DateTime2), 5, N'PT2604003', N'chuyen_khoan')
SET IDENTITY_INSERT [dbo].[thanh_toan] OFF
GO
SET IDENTITY_INSERT [dbo].[thong_bao] ON 

INSERT [dbo].[thong_bao] ([id], [tieu_de], [noi_dung], [ngay_gui], [nguoi_gui_id], [loai], [gui_tat_ca]) VALUES (1, N'Thông báo cắt điện bảo trì', N'Sẽ cắt điện toàn bộ tòa A từ 8:00 - 12:00 ngày 20/04/2026 để bảo trì hệ thống điện.', CAST(N'2026-05-14T15:02:01.8753066' AS DateTime2), 2, N'bao_tri', 1)
INSERT [dbo].[thong_bao] ([id], [tieu_de], [noi_dung], [ngay_gui], [nguoi_gui_id], [loai], [gui_tat_ca]) VALUES (2, N'Thông báo họp cư dân tháng 5', N'Mời cư dân tham dự họp định kỳ lúc 19:00 ngày 05/05/2026 tại Phòng sinh hoạt tầng 1.', CAST(N'2026-04-25T10:00:00.0000000' AS DateTime2), 2, N'su_kien', 1)
INSERT [dbo].[thong_bao] ([id], [tieu_de], [noi_dung], [ngay_gui], [nguoi_gui_id], [loai], [gui_tat_ca]) VALUES (3, N'Khuyến mãi dịch vụ Internet tháng 5', N'Đăng ký mới gói Internet tháng 5 được giảm 50% tháng đầu tiên.', CAST(N'2026-04-28T08:00:00.0000000' AS DateTime2), 2, N'khuyen_mai', 1)
SET IDENTITY_INSERT [dbo].[thong_bao] OFF
GO
INSERT [dbo].[thong_bao_cu_dan] ([thong_bao_id], [cu_dan_id], [da_doc]) VALUES (1, 1, 1)
INSERT [dbo].[thong_bao_cu_dan] ([thong_bao_id], [cu_dan_id], [da_doc]) VALUES (1, 2, 0)
INSERT [dbo].[thong_bao_cu_dan] ([thong_bao_id], [cu_dan_id], [da_doc]) VALUES (1, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[vai_tro] ON 

INSERT [dbo].[vai_tro] ([id], [ten_vai_tro], [mo_ta]) VALUES (1, N'quan_tri', N'Quản trị viên hệ thống')
INSERT [dbo].[vai_tro] ([id], [ten_vai_tro], [mo_ta]) VALUES (2, N'quan_ly', N'Quản lý chung cư')
INSERT [dbo].[vai_tro] ([id], [ten_vai_tro], [mo_ta]) VALUES (3, N'nhan_vien', N'Nhân viên vận hành')
SET IDENTITY_INSERT [dbo].[vai_tro] OFF
GO
INSERT [dbo].[vai_tro_quyen] ([vai_tro_id], [quyen_id]) VALUES (1, 1)
INSERT [dbo].[vai_tro_quyen] ([vai_tro_id], [quyen_id]) VALUES (1, 2)
INSERT [dbo].[vai_tro_quyen] ([vai_tro_id], [quyen_id]) VALUES (1, 3)
GO
/****** Object:  Index [UQ_bang_luong]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[bang_luong] ADD  CONSTRAINT [UQ_bang_luong] UNIQUE NONCLUSTERED 
(
	[nguoi_dung_id] ASC,
	[thang_nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__can_ho__DBD18908E2818719]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[can_ho] ADD UNIQUE NONCLUSTERED 
(
	[so_can_ho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cu_dan__355069AB6EFD224C]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[cu_dan] ADD UNIQUE NONCLUSTERED 
(
	[cmnd_cccd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_cham_cong]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[cham_cong] ADD  CONSTRAINT [UQ_cham_cong] UNIQUE NONCLUSTERED 
(
	[nguoi_dung_id] ASC,
	[ngay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_chi_so_dien_nuoc]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[chi_so_dien_nuoc] ADD  CONSTRAINT [UQ_chi_so_dien_nuoc] UNIQUE NONCLUSTERED 
(
	[can_ho_id] ASC,
	[thang_nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__dich_vu__250961CDB627C7E0]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[dich_vu] ADD UNIQUE NONCLUSTERED 
(
	[ten_dich_vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_hoa_don]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[hoa_don] ADD  CONSTRAINT [UQ_hoa_don] UNIQUE NONCLUSTERED 
(
	[can_ho_id] ASC,
	[thang_nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nguoi_du__363698B3CCCF2278]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[nguoi_dung] ADD UNIQUE NONCLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__phuong_t__53E92E58B66F5163]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[phuong_tien] ADD UNIQUE NONCLUSTERED 
(
	[bien_so] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__quyen__FCC1082B5E0D9F0A]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[quyen] ADD UNIQUE NONCLUSTERED 
(
	[ten_quyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tien_ich__072156A0760D8B90]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[tien_ich_chung] ADD UNIQUE NONCLUSTERED 
(
	[ten_tien_ich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__toa_nha__56DB0E138EFD058B]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[toa_nha] ADD UNIQUE NONCLUSTERED 
(
	[ten_toa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__thanh_to__8BD843752F846F74]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[thanh_toan] ADD UNIQUE NONCLUSTERED 
(
	[ma_phieu_thu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vai_tro__E59C937C21B89242]    Script Date: 5/19/2026 3:21:42 PM ******/
ALTER TABLE [dbo].[vai_tro] ADD UNIQUE NONCLUSTERED 
(
	[ten_vai_tro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (sysdatetime()) FOR [thoi_gian]
GO
ALTER TABLE [dbo].[bang_luong] ADD  DEFAULT ((0)) FOR [thuong]
GO
ALTER TABLE [dbo].[bang_luong] ADD  DEFAULT ((0)) FOR [khau_tru]
GO
ALTER TABLE [dbo].[bang_luong] ADD  DEFAULT ('chua_thanh_toan') FOR [trang_thai]
GO
ALTER TABLE [dbo].[bao_tri] ADD  DEFAULT (sysdatetime()) FOR [ngay_yeu_cau]
GO
ALTER TABLE [dbo].[bao_tri] ADD  DEFAULT ('moi') FOR [trang_thai]
GO
ALTER TABLE [dbo].[can_ho] ADD  DEFAULT ('trong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[cong_no] ADD  DEFAULT ('chua_tra') FOR [trang_thai]
GO
ALTER TABLE [dbo].[cu_dan] ADD  DEFAULT ('chu_ho') FOR [loai_cu_dan]
GO
ALTER TABLE [dbo].[cham_cong] ADD  DEFAULT ('di_lam') FOR [trang_thai]
GO
ALTER TABLE [dbo].[dang_ky_dich_vu] ADD  DEFAULT (CONVERT([date],sysdatetime())) FOR [ngay_dang_ky]
GO
ALTER TABLE [dbo].[dang_ky_dich_vu] ADD  DEFAULT ('dang_su_dung') FOR [trang_thai]
GO
ALTER TABLE [dbo].[danh_gia] ADD  DEFAULT (sysdatetime()) FOR [ngay_gui]
GO
ALTER TABLE [dbo].[dat_lich_tien_ich] ADD  DEFAULT ('da_dat') FOR [trang_thai]
GO
ALTER TABLE [dbo].[dich_vu] ADD  DEFAULT ('hoat_dong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT ((0)) FOR [tien_dien]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT ((0)) FOR [tien_nuoc]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT ((0)) FOR [tien_gui_xe]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT ((0)) FOR [tien_bao_tri]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT ((0)) FOR [tien_phi_khac]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT ('chua_thanh_toan') FOR [trang_thai]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[hoa_don_chi_tiet] ADD  DEFAULT ((1)) FOR [so_luong]
GO
ALTER TABLE [dbo].[hop_dong] ADD  DEFAULT ((0)) FOR [tien_dat_coc]
GO
ALTER TABLE [dbo].[hop_dong] ADD  DEFAULT ('dang_hieu_luc') FOR [trang_thai]
GO
ALTER TABLE [dbo].[khieu_nai] ADD  DEFAULT (sysdatetime()) FOR [ngay_gui]
GO
ALTER TABLE [dbo].[khieu_nai] ADD  DEFAULT ('moi') FOR [trang_thai]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT ('active') FOR [trang_thai]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[phuong_tien] ADD  DEFAULT ('dang_gui') FOR [trang_thai]
GO
ALTER TABLE [dbo].[tai_lieu] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[tam_tru] ADD  DEFAULT ('dang_hieu_luc') FOR [trang_thai]
GO
ALTER TABLE [dbo].[tien_ich_chung] ADD  DEFAULT ('hoat_dong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[toa_nha] ADD  DEFAULT ('dang_hoat_dong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[thanh_toan] ADD  DEFAULT (sysdatetime()) FOR [ngay_thanh_toan]
GO
ALTER TABLE [dbo].[thong_bao] ADD  DEFAULT (sysdatetime()) FOR [ngay_gui]
GO
ALTER TABLE [dbo].[thong_bao] ADD  DEFAULT ((1)) FOR [gui_tat_ca]
GO
ALTER TABLE [dbo].[thong_bao_cu_dan] ADD  DEFAULT ((0)) FOR [da_doc]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[bang_luong]  WITH CHECK ADD FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[bao_tri]  WITH CHECK ADD FOREIGN KEY([can_ho_id])
REFERENCES [dbo].[can_ho] ([id])
GO
ALTER TABLE [dbo].[bao_tri]  WITH CHECK ADD FOREIGN KEY([nhan_vien_xu_ly_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[can_ho]  WITH CHECK ADD FOREIGN KEY([toa_nha_id])
REFERENCES [dbo].[toa_nha] ([id])
GO
ALTER TABLE [dbo].[cong_no]  WITH CHECK ADD FOREIGN KEY([can_ho_id])
REFERENCES [dbo].[can_ho] ([id])
GO
ALTER TABLE [dbo].[cong_no]  WITH CHECK ADD FOREIGN KEY([hoa_don_id])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[cu_dan]  WITH CHECK ADD FOREIGN KEY([can_ho_id])
REFERENCES [dbo].[can_ho] ([id])
GO
ALTER TABLE [dbo].[cham_cong]  WITH CHECK ADD FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[chi_so_dien_nuoc]  WITH CHECK ADD FOREIGN KEY([can_ho_id])
REFERENCES [dbo].[can_ho] ([id])
GO
ALTER TABLE [dbo].[dang_ky_dich_vu]  WITH CHECK ADD FOREIGN KEY([can_ho_id])
REFERENCES [dbo].[can_ho] ([id])
GO
ALTER TABLE [dbo].[dang_ky_dich_vu]  WITH CHECK ADD FOREIGN KEY([dich_vu_id])
REFERENCES [dbo].[dich_vu] ([id])
GO
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD FOREIGN KEY([cu_dan_id])
REFERENCES [dbo].[cu_dan] ([id])
GO
ALTER TABLE [dbo].[dat_lich_tien_ich]  WITH CHECK ADD FOREIGN KEY([cu_dan_id])
REFERENCES [dbo].[cu_dan] ([id])
GO
ALTER TABLE [dbo].[dat_lich_tien_ich]  WITH CHECK ADD FOREIGN KEY([tien_ich_id])
REFERENCES [dbo].[tien_ich_chung] ([id])
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD FOREIGN KEY([can_ho_id])
REFERENCES [dbo].[can_ho] ([id])
GO
ALTER TABLE [dbo].[hoa_don_chi_tiet]  WITH CHECK ADD FOREIGN KEY([hoa_don_id])
REFERENCES [dbo].[hoa_don] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hop_dong]  WITH CHECK ADD FOREIGN KEY([can_ho_id])
REFERENCES [dbo].[can_ho] ([id])
GO
ALTER TABLE [dbo].[hop_dong]  WITH CHECK ADD FOREIGN KEY([cu_dan_id])
REFERENCES [dbo].[cu_dan] ([id])
GO
ALTER TABLE [dbo].[khieu_nai]  WITH CHECK ADD FOREIGN KEY([cu_dan_id])
REFERENCES [dbo].[cu_dan] ([id])
GO
ALTER TABLE [dbo].[khieu_nai]  WITH CHECK ADD FOREIGN KEY([nhan_vien_xu_ly_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[nguoi_dung]  WITH CHECK ADD FOREIGN KEY([vai_tro_id])
REFERENCES [dbo].[vai_tro] ([id])
GO
ALTER TABLE [dbo].[phuong_tien]  WITH CHECK ADD FOREIGN KEY([cu_dan_id])
REFERENCES [dbo].[cu_dan] ([id])
GO
ALTER TABLE [dbo].[tai_lieu]  WITH CHECK ADD FOREIGN KEY([can_ho_id])
REFERENCES [dbo].[can_ho] ([id])
GO
ALTER TABLE [dbo].[tai_lieu]  WITH CHECK ADD FOREIGN KEY([cu_dan_id])
REFERENCES [dbo].[cu_dan] ([id])
GO
ALTER TABLE [dbo].[tam_tru]  WITH CHECK ADD FOREIGN KEY([cu_dan_id])
REFERENCES [dbo].[cu_dan] ([id])
GO
ALTER TABLE [dbo].[thanh_toan]  WITH CHECK ADD FOREIGN KEY([hoa_don_id])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[thanh_toan]  WITH CHECK ADD FOREIGN KEY([nhan_vien_thu_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[thong_bao]  WITH CHECK ADD FOREIGN KEY([nguoi_gui_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[thong_bao_cu_dan]  WITH CHECK ADD FOREIGN KEY([cu_dan_id])
REFERENCES [dbo].[cu_dan] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[thong_bao_cu_dan]  WITH CHECK ADD FOREIGN KEY([thong_bao_id])
REFERENCES [dbo].[thong_bao] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vai_tro_quyen]  WITH CHECK ADD FOREIGN KEY([quyen_id])
REFERENCES [dbo].[quyen] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vai_tro_quyen]  WITH CHECK ADD FOREIGN KEY([vai_tro_id])
REFERENCES [dbo].[vai_tro] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bang_luong]  WITH CHECK ADD  CONSTRAINT [CK_bang_luong_trang_thai] CHECK  (([trang_thai]='tam_ung' OR [trang_thai]='chua_thanh_toan' OR [trang_thai]='da_thanh_toan'))
GO
ALTER TABLE [dbo].[bang_luong] CHECK CONSTRAINT [CK_bang_luong_trang_thai]
GO
ALTER TABLE [dbo].[bao_tri]  WITH CHECK ADD CHECK  (([trang_thai]='hoan_thanh' OR [trang_thai]='dang_xu_ly' OR [trang_thai]='moi'))
GO
ALTER TABLE [dbo].[can_ho]  WITH CHECK ADD CHECK  (([trang_thai]='da_cho_thue' OR [trang_thai]='da_o' OR [trang_thai]='trong'))
GO
ALTER TABLE [dbo].[cong_no]  WITH CHECK ADD CHECK  (([trang_thai]='qua_han' OR [trang_thai]='da_tra' OR [trang_thai]='chua_tra'))
GO
ALTER TABLE [dbo].[cu_dan]  WITH CHECK ADD CHECK  (([loai_cu_dan]='thanh_vien' OR [loai_cu_dan]='chu_ho'))
GO
ALTER TABLE [dbo].[cham_cong]  WITH CHECK ADD CHECK  (([trang_thai]='ve_som' OR [trang_thai]='di_tre' OR [trang_thai]='nghi_phep' OR [trang_thai]='di_lam'))
GO
ALTER TABLE [dbo].[dang_ky_dich_vu]  WITH CHECK ADD CHECK  (([trang_thai]='da_huy' OR [trang_thai]='dang_su_dung'))
GO
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD CHECK  (([diem]>=(1) AND [diem]<=(5)))
GO
ALTER TABLE [dbo].[dat_lich_tien_ich]  WITH CHECK ADD CHECK  (([trang_thai]='huy' OR [trang_thai]='da_dat'))
GO
ALTER TABLE [dbo].[dich_vu]  WITH CHECK ADD CHECK  (([trang_thai]='ngung' OR [trang_thai]='hoat_dong'))
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD CHECK  (([trang_thai]='qua_han' OR [trang_thai]='da_thanh_toan' OR [trang_thai]='chua_thanh_toan'))
GO
ALTER TABLE [dbo].[hop_dong]  WITH CHECK ADD CHECK  (([loai_hop_dong]='mua_lai' OR [loai_hop_dong]='cho_thue' OR [loai_hop_dong]='so_huu'))
GO
ALTER TABLE [dbo].[hop_dong]  WITH CHECK ADD CHECK  (([trang_thai]='da_het' OR [trang_thai]='het_hieu_luc' OR [trang_thai]='dang_hieu_luc'))
GO
ALTER TABLE [dbo].[khieu_nai]  WITH CHECK ADD CHECK  (([trang_thai]='da_xu_ly' OR [trang_thai]='dang_xu_ly' OR [trang_thai]='moi'))
GO
ALTER TABLE [dbo].[nguoi_dung]  WITH CHECK ADD CHECK  (([trang_thai]='inactive' OR [trang_thai]='active'))
GO
ALTER TABLE [dbo].[phuong_tien]  WITH CHECK ADD CHECK  (([loai_xe]='xe_dap' OR [loai_xe]='o_to' OR [loai_xe]='xe_may'))
GO
ALTER TABLE [dbo].[phuong_tien]  WITH CHECK ADD CHECK  (([trang_thai]='ngung_gui' OR [trang_thai]='dang_gui'))
GO
ALTER TABLE [dbo].[tam_tru]  WITH CHECK ADD CHECK  (([trang_thai]='het_hieu_luc' OR [trang_thai]='dang_hieu_luc'))
GO
ALTER TABLE [dbo].[tien_ich_chung]  WITH CHECK ADD CHECK  (([trang_thai]='ngung' OR [trang_thai]='hoat_dong'))
GO
ALTER TABLE [dbo].[toa_nha]  WITH CHECK ADD CHECK  (([trang_thai]='dang_sua_chua' OR [trang_thai]='dang_hoat_dong'))
GO
ALTER TABLE [dbo].[thanh_toan]  WITH CHECK ADD CHECK  (([phuong_thuc]='the' OR [phuong_thuc]='chuyen_khoan' OR [phuong_thuc]='tien_mat'))
GO
ALTER TABLE [dbo].[thong_bao]  WITH CHECK ADD CHECK  (([loai]='khac' OR [loai]='quy_dinh' OR [loai]='bao_tri' OR [loai]='su_kien' OR [loai]='khuyen_mai'))
GO
